<div>
  <h3 class="rowHeading">My List</h3>
</div>
<div class="row">
  <div class="column">
    <img
      src="grey-placeholder.png"
      alt="Placeholder"
      style="width: 100%"
    />
  </div>
  <div class="column">
    <img
      src="/netflix-clone/src/assets/grey_placeholder.png"
      alt="Placeholder"
      style="width: 100%"
    />
  </div>
  <div class="column">
    <img
      src="/netflix-clone/src/assets/grey_placeholder.png"
      alt="Placeholder"
      style="width: 100%"
    />
  </div>
  <div class="column">
    <img
      src="/netflix-clone/src/assets/grey_placeholder.png"
      alt="Placeholder"
      style="width: 100%"
    />
  </div>
  <div class="column">
    <img
      src="/netflix-clone/src/assets/grey_placeholder.png"
      alt="Placeholder"
      style="width: 100%"
    />
  </div>
  <div class="column">
    <img
      src="/netflix-clone/src/assets/grey_placeholder.png"
      alt="Placeholder"
      style="width: 100%"
    />
  </div>
</div>
