.banner {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  height: 80vh;
}

.bannerImg {
  height: 525px; 
  width: 100%;
  object-fit: cover;
  position: relative;
}

.movieName {
  margin: 0;
  position: absolute;
  bottom: 270px;
  left: 26px;
  color: white;
}

.btn {
   background: white;
   color: black;
   font-family: Helvetica, Arial, sans-serif;
}

.btn:hover {
  background: grey;
}

.btn:active {
  background: red;
}

#playButton {
  position: absolute;
  bottom: 240px;
  left: 26px;
}

#infoButton {
  position: absolute;
  bottom: 240px;
  left: 86px;
}