.banner {
  background-image: url(https://res.cloudinary.com/practicaldev/image/fetch/s--THrf5Yjw--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/n6brz4p7iq7j1mulo1nv.jpg);
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  height: 80vh;
}

h1 {
  margin: 0;
}

.playButton {
   background: white;
   color: black;
   font-family: Helvetica, Arial, sans-serif;
}

.playButton:hover {
  background: grey;
}

.playButton:active {
  background: red;
}

.infoButton {
    background: grey;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}